# OS/editor
.DS_Store
.idea/
.vscode/

# Python
__pycache__/
.pytest_cache/
.venv/
dist/
build/
*.egg-info/

# 3DS build outputs
*.3dsx
*.smdh
*.elf
*.cia
*.3ds

# Local/user data
local/
*.apkg
*.colpkg
